{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "quotes": "off",
    "no-var": "off",
    "no-unused-vars": "off",
    "no-undef": "off",
    "no-unused-expressions": "off",
    "no-unused-labels": "off",
    "no-unused-imports": "off",
    "no-unused-imports-ts": "off",
    "no-unused-imports-tsx": "off"
  }
}